{% extends '_templates/themes/metronics/layouts/auth/auth.html' %}

{% load static %}

{% block authform %}

    {% comment %} This is changee password form {% endcomment %}

        <!--begin::Form-->
            <form class="form w-100"  id="kt_new_password_form" method = 'POST' >
                {% csrf_token %}
                <input type="hidden" name = "user_id" value = "{{user_id}}">
                <!--begin::Heading-->
                <div class="text-center mb-10">
                    <!--begin::Title-->
                    <h1 class="text-dark fw-bolder mb-3">Reset your password</h1>
                    <!--end::Title-->
                    <!--begin::Link-->
                    {% comment %} <div class="text-gray-500 fw-semibold fs-6">Have you already reset the password ? {% endcomment %}
                    {% comment %} <a href="{% url 'login' %}" class="link-primary fw-bold">Sign in</a></div> {% endcomment %}
                    <!--end::Link-->
                </div>
                <!--begin::Heading-->
                <!--begin::Input group-->
                <div class="fv-row mb-8" data-kt-password-meter="true">
                    <!--begin::Wrapper-->
                    <div class="mb-1">
                        <!--begin::Input wrapper-->
                        <div class="position-relative mb-3">
                            <input class="form-control bg-transparent" type="password" placeholder="New password" name="new-password" autocomplete="off" />
                            <span class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2" data-kt-password-meter-control="visibility">
                                <i class="bi bi-eye-slash fs-2"></i>
                                <i class="bi bi-eye fs-2 d-none"></i>
                            </span>
                        </div>
                        <!--end::Input wrapper-->
                        <!--begin::Meter-->
                        <div class="d-flex align-items-center mb-3" data-kt-password-meter-control="highlight">
                            <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                            <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                            <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                            <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px"></div>
                        </div>
                        <!--end::Meter-->
                        <span class = "fv-plugins-message-container invalid-feedback">
                            {% for message in messages %}
                                {% if "pass_error" in message.tags %}
                                    {{message}}
                                {% endif %}
                            {% endfor %}
        
                        </span>
                    </div>
                    <!--end::Wrapper-->
                    <!--begin::Hint-->
                    <div class="text-muted">Use 8 or more characters with a mix of letters, numbers &amp; symbols.</div>
                    <!--end::Hint-->
                </div>
                <!--end::Input group=-->
                <!--end::Input group=-->

                <div class="fv-row mb-8">
                    <!--begin:: Confirm Password-->
                    <input type="password" placeholder="Confirm password" name="confirm-password" autocomplete="off" class="form-control bg-transparent" />
                    <!--end::Confirm Password-->
                </div>
            
                <!--end::Input group=-->
                <!--begin::Input group=-->
                <span class = "fv-plugins-message-container invalid-feedback">
                    {% for message in messages %}
                        {% if "user_none" in message.tags %}
                            {{message}}
                        {% endif %}
                    {% endfor %}

                </span>
                <div class="fv-row mb-8">
                    <label class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="toc" value="1" />
                        <span class="form-check-label fw-semibold text-gray-700 fs-6 ms-1">I Agree &amp;
                        <a href="#" class="ms-1 link-primary">Terms and conditions</a>.</span>
                    </label>
                </div>
                <!--end::Input group=-->
                <!--begin::Action-->
                <div class="d-grid mb-10">
                    <button type="button" id="kt_new_password_submit" class="btn btn-primary">
                        <!--begin::Indicator label-->
                        <span class="indicator-label">Submit</span>
                        <!--end::Indicator label-->
                        <!--begin::Indicator progress-->
                        <span class="indicator-progress">Please wait...
                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                        <!--end::Indicator progress-->
                    </button>
                </div>
                <!--end::Action-->
            </form>
            <!--end::Form-->
   
{% endblock authform %}

   
{% block page_scripts %}

    <script src="{% static APP_THEME|add:'assets/js/custom/authentication/reset-password/custom-newpassword.js' %}"></script>

{% endblock page_scripts %}


    