{% extends '_templates/themes/metronics/layouts/auth/auth.html' %}

{% load static %}


{% block authform %}


    
    {% comment %} This is forgot password form {% endcomment %}

    <!--begin::Form-->
    <div class="d-flex flex-center flex-column flex-lg-row-fluid">
        <!--begin::Wrapper-->
        <div class="w-lg-500px p-10">
            <!--begin::Form-->
            <form class="form w-100" novalidate="novalidate" id="kt_password_reset_form"  action="{% url 'forgot-password'%}" method = 'POST'>
                     {% csrf_token %}
                <!--begin::Heading-->
                <div class="text-center mb-10">
                    <!--begin::Title-->
                    <h1 class="text-dark fw-bolder mb-3">Forgot Password ?</h1>
                    <!--end::Title-->
                    <!--begin::Link-->
                    <div class="text-gray-500 fw-semibold fs-6">Enter your email to reset your password.</div>
                    <!--end::Link-->
                </div>
                <!--begin::Heading-->
                <!--begin::Input group=-->
                <div class="fv-row mb-8">
                    <!--begin::Email-->
                    <input type="text" placeholder="Email" name="email"  id ="email" autocomplete="off" class="form-control bg-transparent" />
                    <!--end::Email-->
                    <span class = "fv-plugins-message-container invalid-feedback">
        
                        {% for message in messages %}
                            {% if "forgot" in message.tags %}
                                {{message}}
                            {% endif %}
                        {% endfor %}
                    </span>
                </div>
               
                <!--begin::Actions-->
                <div class="d-flex flex-wrap justify-content-center pb-lg-0">
                    <button type="button" id="kt_password_reset_submit" class="btn btn-primary me-4">
                        <!--begin::Indicator label-->
                        <span class="indicator-label">Submit</span>
                      
                        <!--end::Indicator label-->
                        <!--begin::Indicator progress-->
                        <span class="indicator-progress">Please wait...
                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                        <!--end::Indicator progress-->
                    </button>
                    <a href="../../demo6/dist/authentication/layouts/corporate/sign-in.html" class="btn btn-light">Cancel</a>
                </div>
                <!--end::Actions-->
            </form>
            <!--end::Form-->
        </div>
        <!--end::Wrapper-->
    </div>
    <!--end::Form-->
   
{% endblock authform %}


{% block page_scripts %}

    <script src="{% static APP_THEME|add:'assets/js/custom/authentication/reset-password/custom-script.js' %}"></script>

{% endblock page_scripts%}

    